* {
  margin: 0;
  padding: 0; }

body, main {
  width: 100%;
  overflow-x: hidden; }

.title {
  grid-area: title; }

.mainImage {
  grid-area: imageblock; }

.text {
  grid-area: textblock; }

.navLeft {
  grid-area: leftNav; }

.journal {
  grid-area: brand; }

.navRight {
  grid-area: rightNav; }

.pageNav {
  display: grid;
  grid-template-columns: auto 900px auto;
  grid-template-areas: "leftNav brand rightNav";
  position: fixed;
  top: 0;
  height: 42px;
  width: 100%;
  padding: 2px 20px 0 20px;
  background: white;
  border-bottom: 1px solid #b4b4b4;
  box-shadow: 0 1px 2px 1px #dedede;
  z-index: 1; }
  .pageNav .navLeft,
  .pageNav .replacedLeftNav,
  .pageNav .navRight,
  .pageNav .replacedRightNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.navLeft {
  max-height: 20px;
  box-sizing: border-box;
  margin-left: -50px;
  margin-top: 10px; }
  .navLeft .navIcon {
    height: 14px;
    width: 14px;
    margin-right: 26px; }
  .navLeft .subject {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
    text-transform: uppercase; }
  .navLeft .subject_shown {
    opacity: 1; }
  .navLeft .subject_hidden {
    animation: disapear 1.5s forwards; }

.hiddenLeftNav {
  display: none; }

.replacedLeftNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -40px; }
  .replacedLeftNav .journalName {
    height: 36px; }

.navMiddle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto; }
  .navMiddle .journalName {
    height: 40px;
    margin-left: -50px; }

.hiddenMiddleNav {
  display: none; }

.replacedMiddleNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px; }
  .replacedMiddleNav .subject {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    word-spacing: 1px;
    text-transform: uppercase; }
  .replacedMiddleNav span {
    margin: 0 1px;
    color: #b4b4b4;
    font-size: 18px;
    font-weight: 100; }
  .replacedMiddleNav .articleTitle {
    font-size: 15px;
    font-family: 'Alegreya', serif; }

.navRight {
  margin-top: -4px; }
  .navRight input {
    height: 34px;
    padding: 2px 12px 0 12px;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    background: #396a8a;
    border: none;
    border-radius: 4px; }
    .navRight input:hover {
      background: #2c526b; }
  .navRight .subscribe {
    margin-left: -40px; }
  .navRight .logIn {
    margin-left: 6px; }

.hiddenRightNav {
  display: none; }

.replacedRightNav {
  margin-top: 4px;
  margin-left: -40px; }
  .replacedRightNav .madia {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    padding: 6px;
    background: #e8e8e8;
    border-radius: 50%; }
  .replacedRightNav .bookmark,
  .replacedRightNav .chat {
    height: 30px;
    width: 32px;
    margin-right: 8px; }

header {
  display: grid;
  grid-template-columns: auto 1190px auto;
  grid-template-areas: " . title . " " . imageblock . " " . textblock . ";
  margin-top: 42px; }
  header h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin: 28px auto;
    font-family: 'Sansita', serif;
    font-size: 34px;
    font-style: italic;
    font-weight: 700 italic;
    word-spacing: 4px;
    line-height: 44px; }
  header .subText {
    width: 880px;
    margin-top: 12px;
    color: #3a3a3a;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px; }
    header .subText span {
      color: #656565;
      font-size: 15px;
      padding: 0 4px; }

.asideMenu_hidden {
  display: none; }

.asideMenu_shown {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 210px;
  height: 100%;
  background: white;
  border-right: 1px solid #9e9e9e;
  z-index: 10; }
  .asideMenu_shown .topSection,
  .asideMenu_shown .middleSection,
  .asideMenu_shown .bottomSection {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 4px 16px;
    padding: 12px; }
    .asideMenu_shown .topSection .barLink,
    .asideMenu_shown .middleSection .barLink,
    .asideMenu_shown .bottomSection .barLink {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
    .asideMenu_shown .topSection a,
    .asideMenu_shown .middleSection a,
    .asideMenu_shown .bottomSection a {
      width: 160px;
      padding: 4px 0 6px 0;
      color: black;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 14px;
      font-weight: 800;
      text-decoration: none; }
    .asideMenu_shown .topSection p,
    .asideMenu_shown .middleSection p,
    .asideMenu_shown .bottomSection p {
      margin-top: 8px;
      color: #dedede;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 12px;
      font-weight: 100;
      transform: scaleY(160%) scaleX(80%); }
  .asideMenu_shown .topSection,
  .asideMenu_shown .middleSection {
    border-bottom: 1px solid #dedede; }

.textHeader {
  display: block;
  max-width: 600px;
  margin: 20px auto;
  padding: 24px 0 15px 0;
  font-family: 'Libre Franklin', sans-serif; }
  .textHeader h4 {
    width: 600px; }
    .textHeader h4 span {
      text-decoration: underline #9e9e9e;
      text-underline-offset: 2px; }
  .textHeader .date_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-top: 8px; }
    .textHeader .date_links .articleNav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 260px; }
    .textHeader .date_links .date {
      margin-top: 20px;
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500; }
    .textHeader .date_links .madia {
      height: 16px;
      width: 16px;
      padding: 6px;
      background: #e8e8e8;
      border-radius: 50%; }
    .textHeader .date_links .bookmark,
    .textHeader .date_links .chat {
      height: 30px;
      width: 32px; }

.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 0 auto; }
  .mainText h2 {
    margin: 12px 0; }
  .mainText .textPart {
    margin: 0 2px 0 0;
    padding-bottom: 20px;
    font-family: 'Alegreya', serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px; }
    .mainText .textPart a {
      color: #246e9f;
      font-family: 'Abhaya Libre', serif;
      font-size: 25px;
      font-weight: 400;
      text-underline-offset: 2px; }

.fullWidth {
  margin: 24px 0 40px 0;
  padding: 5px 0 5px 0;
  background: #dedede; }
  .fullWidth .commercialMirror {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%; }
  .fullWidth img {
    vertical-align: middle;
    opacity: 0.8;
    width: 99.98%; }
  .fullWidth .textoverflow {
    display: block;
    position: absolute;
    padding: 14px 16px 12px 16px;
    color: white;
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.8);
    border-top: 1px solid rgba(162, 162, 162, 0.6);
    border-bottom: 1px solid rgba(162, 162, 162, 0.6);
    box-shadow: 1px 1px 2px rgba(50, 50, 50, 0.11), -1px -1px 2px rgba(50, 50, 50, 0.11), 2px 2px 3px rgba(60, 60, 60, 0.08), -2px -2px 3px rgba(60, 60, 60, 0.08), 3px 3px 4px rgba(70, 70, 70, 0.05), -3px -3px 4px rgba(70, 70, 70, 0.05); }
  .fullWidth #textPopUpOne {
    margin: -220px 0 0 700px; }
    .fullWidth #textPopUpOne .textoverflowTwo {
      text-align: right; }
  .fullWidth #textPopUpTwo {
    margin: -160px 0 0 200px;
    border-bottom: 1px solid rgba(162, 162, 162, 0.4); }
  .fullWidth #textPopUpThree {
    margin: -210px 0 0 500px;
    background: rgba(58, 58, 58, 0.4); }
  .fullWidth #textPopUpFour {
    margin: -220px 0 0 640px;
    background: rgba(58, 58, 58, 0.2); }
    .fullWidth #textPopUpFour .textoverflowOne {
      margin-right: 14px; }
    .fullWidth #textPopUpFour .textoverflowTwo {
      text-align: right; }
  .fullWidth .textoverflow_hidden {
    opacity: 0; }
  .fullWidth .textoverflow_shown {
    animation: apear 2.5s forwards; }
  .fullWidth .textoverflow_flowOut {
    animation: disapear 2.5s forwards; }
  .fullWidth .textoverflowOne {
    margin: 0 0 6px 0; }
  .fullWidth .textoverflowTwo {
    margin: 0 0 0 110px; }

@keyframes apear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes disapear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.subsciribeInBetween::before {
  display: inline-block;
  width: 70px;
  height: 1px;
  margin: 0 0 16px;
  content: '';
  background-color: #bdbdbd; }

.subsciribeInBetween {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8px 0 20px 0;
  padding: 12px 0;
  font-family: 'Libre Franklin', sans-serif;
  /*border-top: 1px solid rgb(222, 222, 222);
  border-bottom: 1px solid rgb(222, 222, 222);*/ }
  .subsciribeInBetween h3 {
    font-size: 14px;
    font-weight: 800; }
  .subsciribeInBetween a {
    margin-top: 8px;
    color: #2d6285;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800; }

.subsciribeInBetween::after {
  display: inline-block;
  width: 70px;
  height: 1px;
  margin: 20px 0 0;
  content: '';
  background-color: #bdbdbd; }

.explainingDrawings {
  display: flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 940px;
  height: 760px;
  margin: 32px auto; }
  .explainingDrawings h3 {
    font-family: 'Averia Serif Libre', cursive;
    font-size: 18px; }
  .explainingDrawings p {
    margin: 8px 0 16px 0;
    color: #3a3a3a;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px; }
  .explainingDrawings .drawing {
    display: grid;
    grid-template-columns: auto 1190px auto;
    grid-template-areas: " . imageblock . ";
    margin-bottom: 20px; }
    .explainingDrawings .drawing img {
      max-width: 940px;
      height: 573px; }
  .explainingDrawings .topExplainBox,
  .explainingDrawings .bottomExplainBox {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    width: 960px;
    position: relative; }
    .explainingDrawings .topExplainBox .textBlock,
    .explainingDrawings .bottomExplainBox .textBlock {
      display: inline-block;
      width: 235px;
      font-family: 'Libre Franklin', sans-serif;
      line-height: 16px; }
      .explainingDrawings .topExplainBox .textBlock h4,
      .explainingDrawings .bottomExplainBox .textBlock h4 {
        display: inline;
        margin-right: 6px;
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase; }
      .explainingDrawings .topExplainBox .textBlock p,
      .explainingDrawings .bottomExplainBox .textBlock p {
        display: inline;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px; }
  .explainingDrawings .topExplainBox {
    margin-top: -450px; }
  .explainingDrawings .bottomExplainBox {
    margin-top: 135px; }
  .explainingDrawings .drawingSubtext::before {
    display: inline-block;
    width: 60px;
    height: 1px;
    margin: 0 0 13px;
    content: '';
    background-color: #000; }
  .explainingDrawings .drawingSubtext {
    display: block;
    margin-top: 40px; }
    .explainingDrawings .drawingSubtext h5 {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 15px;
      font-weight: 400; }
      .explainingDrawings .drawingSubtext h5 span {
        text-transform: uppercase; }

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 12px 0 26px 0; }
  .video iframe {
    height: 340px; }

.photoBox {
  display: block;
  margin: 20px auto; }
  .photoBox .photoInBetween {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    margin: 0 auto; }
    .photoBox .photoInBetween .subText {
      width: 760px;
      margin-top: 12px;
      color: #3a3a3a;
      font-size: 17px;
      font-weight: 500;
      line-height: 22px; }
      .photoBox .photoInBetween .subText span {
        color: #656565;
        font-size: 15px;
        padding: 0 4px; }

.articleFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 0 auto; }
  .articleFooter .articlePrint .subText {
    color: #5a5a5a;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    font-weight: 500; }
    .articleFooter .articlePrint .subText a {
      color: #5a5a5a; }
  .articleFooter .commentsAndProfiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 26px 0; }
    .articleFooter .commentsAndProfiles .commentsBtn {
      width: 300px;
      height: 34px;
      padding: 2px 12px 0 12px;
      color: white;
      font-family: 'Libre Franklin', sans-serif;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      background: #396a8a;
      border: none;
      border-radius: 4px; }
      .articleFooter .commentsAndProfiles .commentsBtn:hover {
        background: #2c526b; }
    .articleFooter .commentsAndProfiles .articleNav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 190px; }
    .articleFooter .commentsAndProfiles .madia {
      height: 16px;
      width: 16px;
      padding: 6px;
      background: #e8e8e8;
      border-radius: 50%; }

.suggestionsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 42px; }
  .suggestionsSection a {
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none; }
  .suggestionsSection h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px; }
  .suggestionsSection .suggestionsLeft {
    width: 852px;
    margin-right: 14px;
    padding-top: 20px;
    border-top: 1px solid black; }
  .suggestionsSection .suggesionBox {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start; }
  .suggestionsSection .subjectSuggestions,
  .suggestionsSection .editorsSuggestions {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start; }
    .suggestionsSection .subjectSuggestions .suggestionRow,
    .suggestionsSection .editorsSuggestions .suggestionRow {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: space-between;
      min-height: 300px;
      margin: 20px 0 30px 0; }
    .suggestionsSection .subjectSuggestions .suggestionBox,
    .suggestionsSection .editorsSuggestions .suggestionBox {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: space-between;
      width: 272px;
      padding: 0; }
      .suggestionsSection .subjectSuggestions .suggestionBox img,
      .suggestionsSection .editorsSuggestions .suggestionBox img {
        width: 272px; }
      .suggestionsSection .subjectSuggestions .suggestionBox .picSubText,
      .suggestionsSection .editorsSuggestions .suggestionBox .picSubText {
        height: 14px;
        margin-top: 8px;
        color: #838383;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 9px;
        text-align: right; }
      .suggestionsSection .subjectSuggestions .suggestionBox .articleText,
      .suggestionsSection .editorsSuggestions .suggestionBox .articleText {
        height: 66px;
        margin: 6px 0 8px 0;
        font-family: 'Averia Serif Libre', cursive;
        font-size: 17px;
        font-weight: 500; }
      .suggestionsSection .subjectSuggestions .suggestionBox .paidPicSubText,
      .suggestionsSection .subjectSuggestions .suggestionBox .paidSuggestion,
      .suggestionsSection .subjectSuggestions .suggestionBox .paidArticleDate,
      .suggestionsSection .editorsSuggestions .suggestionBox .paidPicSubText,
      .suggestionsSection .editorsSuggestions .suggestionBox .paidSuggestion,
      .suggestionsSection .editorsSuggestions .suggestionBox .paidArticleDate {
        padding: 0 10px;
        color: black;
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 700;
        text-align: left; }
      .suggestionsSection .subjectSuggestions .suggestionBox .paidSuggestion,
      .suggestionsSection .editorsSuggestions .suggestionBox .paidSuggestion {
        font-size: 14px;
        line-height: 20px; }
      .suggestionsSection .subjectSuggestions .suggestionBox .articleDate,
      .suggestionsSection .editorsSuggestions .suggestionBox .articleDate {
        height: 20px;
        color: #838383;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 11px;
        text-transform: uppercase; }
    .suggestionsSection .subjectSuggestions .paidSuggestionBox,
    .suggestionsSection .editorsSuggestions .paidSuggestionBox {
      background: #f2f2f2; }
  .suggestionsSection .suggestionsRight {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    width: 318px;
    margin-left: 14px;
    padding-top: 20px;
    border-top: 1px solid black; }
    .suggestionsSection .suggestionsRight .popularTitleLink {
      height: 42px; }
    .suggestionsSection .suggestionsRight .popularLink {
      padding: 12px 0;
      font-family: 'Abhaya Libre', cursive;
      font-size: 13px;
      font-weight: 400;
      border-top: 1px solid #d4d4d4; }

.mainFooter {
  width: 1200px;
  margin: 0 auto;
  /*height: 600px;*/
  border-top: 2px solid #dedede; }
  .mainFooter .footarNavTitle {
    margin-top: 1px;
    border-top: 1px solid #dedede; }
    .mainFooter .footarNavTitle img {
      height: 38px;
      margin: 4px 0 6px -6px; }
  .mainFooter .footerNav {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede; }
    .mainFooter .footerNav h3, .mainFooter .footerNav a {
      color: black;
      font-family: 'Libre Franklin', sans-serif;
      text-decoration: none; }
    .mainFooter .footerNav h3 {
      font-size: 12px;
      text-transform: uppercase; }
  .mainFooter .footerLeftNav {
    display: inline-flex;
    flex-direction: row;
    width: 1000px; }
    .mainFooter .footerLeftNav .navRow {
      display: inline-flex;
      flex-direction: column;
      width: 197px; }
    .mainFooter .footerLeftNav a {
      margin-top: 8px;
      font-size: 13px; }
    .mainFooter .footerLeftNav .fifthFooterNav {
      border-right: 1px solid #dedede; }
  .mainFooter .footerRightNav {
    display: inline-flex;
    flex-direction: column;
    width: 200px; }
    .mainFooter .footerRightNav .topRightFooterNav,
    .mainFooter .footerRightNav .middleRightFooterNav,
    .mainFooter .footerRightNav .bottomRightFooterNav {
      display: flex;
      flex-direction: column; }
    .mainFooter .footerRightNav .topRightFooterNav {
      margin-bottom: 14px; }
      .mainFooter .footerRightNav .topRightFooterNav a {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 8px; }
      .mainFooter .footerRightNav .topRightFooterNav img {
        width: 14px;
        height: 14px; }
      .mainFooter .footerRightNav .topRightFooterNav h2 {
        margin-left: 8px;
        font-size: 15px; }
    .mainFooter .footerRightNav .middleRightFooterNav,
    .mainFooter .footerRightNav .bottomRightFooterNav {
      padding: 4px 0; }
      .mainFooter .footerRightNav .middleRightFooterNav a,
      .mainFooter .footerRightNav .bottomRightFooterNav a {
        padding: 6px 0;
        font-size: 10px; }
    .mainFooter .footerRightNav .bottomRightFooterNav {
      border-top: 1px solid #dedede; }

.legalFooter {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  color: #838383;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 11px; }
  .legalFooter .contactAndTerms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 60px;
    padding: 10px 80px 0 66px; }
  .legalFooter a {
    color: black;
    font-family: 'Libre Franklin', sans-serif;
    text-decoration: none;
    font-size: 10px; }

@media (max-width: 1700px) {
  .pageNav {
    display: grid;
    grid-template-columns: auto 660px auto;
    grid-template-areas: "leftNav brand rightNav"; }
    .pageNav .navLeft,
    .pageNav .replacedLeftNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: flex-start;
      margin-left: 5px; }
    .pageNav .navRight,
    .pageNav .replacedRightNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: flex-end;
      margin-right: 35px; }

  .fullWidth #textPopUpOne {
    margin: -170px 0 0 80px; }
    .fullWidth #textPopUpOne .textoverflowTwo {
      text-align: right; }
  .fullWidth #textPopUpTwo {
    margin: -120px 0 0 260px; }
  .fullWidth #textPopUpThree {
    margin: -170px 0 0 40px; }
    .fullWidth #textPopUpThree .textoverflowTwo {
      margin-left: 20px; }
  .fullWidth #textPopUpFour {
    margin: -160px 0 0 240px; }
    .fullWidth #textPopUpFour .textoverflowOne {
      margin-right: 14px; }
    .fullWidth #textPopUpFour .textoverflowTwo {
      text-align: right; } }
@media (max-width: 1280px) {
  .pageNav {
    display: grid;
    grid-template-columns: auto 440px auto;
    grid-template-areas: "leftNav brand rightNav"; }
    .pageNav .navLeft,
    .pageNav .replacedLeftNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: flex-start;
      margin-left: 5px; }
    .pageNav .navRight,
    .pageNav .replacedRightNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      justify-content: flex-end;
      margin-right: 35px; }

  .fullWidth #textPopUpOne,
  .fullWidth #textPopUpTwo,
  .fullWidth #textPopUpThree,
  .fullWidth #textPopUpFour {
    font-size: 20px; }
  .fullWidth #textPopUpOne {
    margin: -140px 0 0 100px; }
  .fullWidth #textPopUpTwo {
    margin: -100px 0 0 280px; }
  .fullWidth #textPopUpThree {
    margin: -140px 0 0 120px; }
  .fullWidth #textPopUpFour {
    margin: -130px 0 0 240px; } }

/*# sourceMappingURL=stylesheet.css.map */
