* {
    margin: 0;
    padding: 0;
}

body, main {
    width: 100%;
    overflow-x: hidden;
}

@mixin wider-grid {
    display: grid;
    grid-template-columns: auto 1190px auto;
}

@mixin main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

@mixin basic-vertical-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    grid-area: title;
}
.mainImage {
    grid-area: imageblock;
}
.text {
    grid-area: textblock;
}
.navLeft {
    grid-area: leftNav;
}
.journal {
    grid-area: brand;
}
.navRight {
    grid-area: rightNav;
}

.pageNav {
    display: grid;
    grid-template-columns: auto 900px auto;
    grid-template-areas: "leftNav brand rightNav";
    position: fixed;
    top: 0;
    height: 42px;
    width: 100%;
    padding: 2px 20px 0 20px;
    background: white;
    border-bottom: 1px solid rgb(180, 180, 180);
    box-shadow: 0 1px 2px 1px rgb(222, 222, 222);
    z-index: 1;

    .navLeft,
    .replacedLeftNav,
    .navRight,
    .replacedRightNav {
        @include basic-vertical-flex;
        align-items: center;
    }
}

.navLeft {
    max-height: 20px;
    box-sizing: border-box;
    margin-left: -50px;
    margin-top: 10px;

    .navIcon {
        height: 14px;
        width: 14px;
        margin-right: 26px;
    }
    .subject {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 13px;
        text-transform: uppercase;
    }
    .subject_shown {
        opacity: 1;
    }
    .subject_hidden {
        animation: disapear 1.5s forwards;
    }
}

.hiddenLeftNav {
    display: none;
}

.replacedLeftNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: -40px;

    .journalName {
        height: 36px;
    }
}

.navMiddle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;

    .journalName {
        height: 40px;
        margin-left: -50px;
    }
}

.hiddenMiddleNav {
    display: none;
}

.replacedMiddleNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;

    .subject {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 12px;
        letter-spacing: -1px;
        word-spacing: 1px;
        text-transform: uppercase;
    }
    span {
        margin: 0 1px;
        color: rgb(180, 180, 180);
        font-size: 18px;
        font-weight: 100;
    }
    .articleTitle {
        font-size: 15px;
        font-family: 'Alegreya', serif;
    }
}



.navRight {
    margin-top: -4px;

    input {
        height: 34px;
        padding: 2px 12px 0 12px;
        color: white;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        background: rgb(57, 106, 138);
        border: none;
        border-radius: 4px;

        &:hover {
            background: rgb(44, 82, 107);
        }
    }
    .subscribe {
        margin-left: -40px;
    }
    .logIn {
        margin-left: 6px;
    }
}

.hiddenRightNav {
    display: none;
}

.replacedRightNav {
    margin-top: 4px;
    margin-left: -40px;

    .madia {
        height: 16px;
        width: 16px;
        margin-right: 8px;
        padding: 6px;
        background: rgb(232, 232, 232);
        border-radius: 50%;
    }
    .bookmark,
    .chat {
        height: 30px;
        width: 32px;
        margin-right: 8px;
    }
}

header {
    @include wider-grid;
    grid-template-areas:
        " . title . "
        " . imageblock . "
        " . textblock . ";

    margin-top: 42px;

    h1 {
        @include main-flex;
        margin: 28px auto;
        font-family: 'Sansita', serif;
        font-size: 34px;
        font-style: italic;
        font-weight: 700 italic;
        word-spacing: 4px;
        line-height: 44px;
    }

    .subText {
        width: 880px;
        margin-top: 12px;
        color: rgb(58, 58, 58);
        font-size: 17px;
        font-weight: 500;
        line-height: 22px;

        span {
            color: rgb(101, 101, 101);
            font-size: 15px;
            padding: 0 4px;
        }
    }
}

.asideMenu_hidden {
    display: none;
}

.asideMenu_shown {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 210px;
    height: 100%;
    background: white;
    border-right: 1px solid rgb(158, 158, 158);
    z-index: 10;

    .topSection,
    .middleSection,
    .bottomSection {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin: 4px 16px;
        padding: 12px;

        .barLink {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        a {
            width: 160px;
            padding: 4px 0 6px 0;
            color: black;
            font-family: 'Libre Franklin', sans-serif;
            font-size: 14px;
            font-weight: 800;
            text-decoration: none;
        }
        p {
            margin-top: 8px;
            color: rgb(222, 222, 222);
            font-family: 'Josefin Sans', sans-serif;
            font-size: 12px;
            font-weight: 100;
            transform: scaleY(160%) scaleX(80%);
        }
    }
    .topSection,
    .middleSection {
        border-bottom:  1px solid rgb(222, 222, 222);
    }
}

.textHeader {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    padding: 24px 0 15px 0;
    font-family: 'Libre Franklin', sans-serif;

    h4 {
        width: 600px;
        
        span {
            text-decoration: underline rgb(158, 158, 158);
            text-underline-offset: 2px;
        }
    }

    .date_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 32px;
        margin-top: 8px;

        .articleNav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; 
            width: 260px;
        }
        .date {
            margin-top: 20px;
            color: rgb(58, 58, 58);
            font-size: 12px;
            font-weight: 500;
        }
        .madia {
            height: 16px;
            width: 16px;
            padding: 6px;
            background: rgb(232, 232, 232);
            border-radius: 50%;
        }
        .bookmark,
        .chat {
            height: 30px;
            width: 32px;
        }
    }
}

.mainText {
    @include main-flex;
    margin: 0 auto;

    h2 {
        margin: 12px 0;
    }

    .textPart {
    margin: 0 2px 0 0;
    padding-bottom: 20px;
    font-family: 'Alegreya', serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;

        a {
            color: rgb(36, 110, 159);
            font-family: 'Abhaya Libre', serif;
            font-size: 25px;
            font-weight: 400;
            text-underline-offset: 2px;
        }
    }
}

.fullWidth {
    margin: 24px 0 40px 0;
    padding: 5px 0 5px 0;
    background: rgb(222, 222, 222);

    .commercialMirror {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 100%;
    }
    img {
        vertical-align: middle;
        opacity: 0.8;
        width: 99.98%;
    }

    .textoverflow {
        display: block;
        position: absolute;
        padding: 14px 16px 12px 16px;
        color: white;
        font-family: 'Averia Serif Libre', cursive;
        font-weight: 400;
        font-style: italic;
        font-size: 30px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-shadow: 1px 1px 2px rgba(50, 50,50, 0.8);
        border-top: 1px solid rgba(162, 162, 162, 0.6);
        border-bottom: 1px solid rgba(162, 162, 162, 0.6);
        box-shadow: 1px 1px 2px rgba(50, 50, 50, .11), -1px -1px 2px rgba(50, 50, 50, .11),
                    2px 2px 3px rgba(60, 60, 60, .08), -2px -2px 3px rgba(60, 60, 60, .08),
                    3px 3px 4px rgba(70, 70, 70, .05), -3px -3px 4px rgba(70, 70, 70, .05);
    }

    #textPopUpOne {
        margin: -220px 0 0 700px;
        .textoverflowTwo {
            text-align: right;
        }
    }

    #textPopUpTwo {
        margin: -160px 0 0 200px;
        border-bottom: 1px solid rgba(162, 162, 162, 0.4);
    }

    #textPopUpThree {
        margin: -210px 0 0 500px;
        background: rgba(58, 58, 58, 0.4);
    }

    #textPopUpFour {
        margin: -220px 0 0 640px;
        background: rgba(58, 58, 58, 0.2);
        .textoverflowOne {
            margin-right: 14px;
        }
        .textoverflowTwo {
            text-align: right;
        }
    }

    .textoverflow_hidden {
        opacity: 0;
    }

    .textoverflow_shown {
        animation: apear 2.5s forwards;
    }

    .textoverflow_flowOut {
        animation: disapear 2.5s forwards;
    }

    .textoverflowOne {
        margin: 0 0 6px 0
    }

    .textoverflowTwo {
        margin: 0 0 0 110px;
    }
}

@keyframes apear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes disapear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.subsciribeInBetween::before {
    display: inline-block;
    width: 70px;
    height: 1px;
    margin: 0 0 16px;
    content: '';
    background-color: #bdbdbd;
}

.subsciribeInBetween {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 0 20px 0;
    padding: 12px 0;
    font-family: 'Libre Franklin', sans-serif;
    /*border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);*/

    h3 {
        font-size: 14px;
        font-weight: 800;
    }
    a {
        margin-top: 8px;
        color: rgb(45, 98, 133);
        text-decoration: none;
        font-size: 14px;
        font-weight: 800;
    }
}

.subsciribeInBetween::after {
    display: inline-block;
    width: 70px;
    height: 1px;
    margin: 20px 0 0;
    content: '';
    background-color: #bdbdbd;
}

.explainingDrawings {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 940px;
    height: 760px;
    margin: 32px auto;

    h3 {
        font-family: 'Averia Serif Libre', cursive;
        font-size: 18px;
    }

    p {
        margin: 8px 0 16px 0;
        color: rgb(58, 58, 58);
        font-size: 17px;
        font-weight: 500;
        line-height: 20px; 
    }
    
    .drawing {
        @include wider-grid();
        grid-template-areas: " . imageblock . ";
        margin-bottom: 20px;

        img {
            max-width: 940px;
            height: 573px;
        }
    }

    .topExplainBox,
    .bottomExplainBox {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-between;
        width: 960px;
        position: relative;

        .textBlock {
            display: inline-block;
            width: 235px;
            font-family: 'Libre Franklin', sans-serif;
            line-height: 16px;

            h4 {
                display: inline;
                margin-right: 6px;
                font-size: 12px;
                line-height: 16px;
                text-transform: uppercase;
            }
            p {
                display: inline;
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
            }
        } 
    }

    .topExplainBox {
        margin-top: -450px;
    }

    .bottomExplainBox {
        margin-top: 135px;
    }

    .drawingSubtext::before {
        display: inline-block;
        width: 60px;
        height: 1px;
        margin: 0 0 13px;
        content: '';
        background-color: #000;
    }

    .drawingSubtext {
        display: block;
        margin-top: 40px;

        h5 {
            font-family: 'Libre Franklin', sans-serif;
            font-size: 15px;
            font-weight: 400;

            span {
                text-transform: uppercase;
            }
        }

    }
}

.video {
    @include main-flex;
    margin: 12px 0 26px 0;

    iframe {
        height: 340px;
    }
}

.photoBox {
    display: block;
    margin: 20px auto;

    .photoInBetween {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
        margin: 0 auto;

        
        .subText {
            width: 760px;
            margin-top: 12px;
            color: rgb(58, 58, 58);
            font-size: 17px;
            font-weight: 500;
            line-height: 22px;

            span {
                color: rgb(101, 101, 101);
                font-size: 15px;
                padding: 0 4px;
            }
        }
    }
}

.articleFooter {
    @include main-flex;
    margin: 0 auto;

    .articlePrint .subText {
        color: rgb(90, 90, 90);
        font-family: 'Libre Franklin', sans-serif;
        font-size: 11px;
        font-weight: 500;

        a {
            color: rgb(90, 90, 90);
        }
    }

    .commentsAndProfiles {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 26px 0;

        .commentsBtn {
            width: 300px;
            height: 34px;
            padding: 2px 12px 0 12px;
            color: white;
            font-family: 'Libre Franklin', sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            background: rgb(57, 106, 138);
            border: none;
            border-radius: 4px;

            &:hover {
                background: rgb(44, 82, 107);
            }
        }

        .articleNav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly; 
            width: 190px;
        }
        .madia {
            height: 16px;
            width: 16px;
            padding: 6px;
            background: rgb(232, 232, 232);
            border-radius: 50%;
        }
    }
}

.suggestionsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 42px;

    a {
        color: black;
        font-family: 'Libre Franklin', sans-serif;
        text-decoration: none;
    }
    h3 {
        font-family: 'Libre Franklin', sans-serif;
        font-size: 16px;
    }

    .suggestionsLeft {
        width: 852px;
        margin-right: 14px;
        padding-top: 20px;
        border-top: 1px solid black;
    }

    .suggesionBox {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: flex-start;
    }

    .subjectSuggestions,
    .editorsSuggestions {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: flex-start;

        .suggestionRow {
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            justify-content: space-between;
            min-height: 300px;
            margin: 20px 0 30px 0;
        }

        .suggestionBox {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: space-between;
            width: 272px;
            padding: 0;

            img {
                width: 272px;
            }
            .picSubText {
                height: 14px;
                margin-top: 8px;
                color: rgb(131, 131, 131);
                font-family: 'Libre Franklin', sans-serif;
                font-size: 9px;
                text-align: right;
            }
            .articleText {
                height: 66px;
                margin: 6px 0 8px 0;
                font-family: 'Averia Serif Libre', cursive;
                font-size: 17px;
                font-weight: 500;
            }
            .paidPicSubText,
            .paidSuggestion,
            .paidArticleDate {
                padding: 0 10px;
                color: black;
                font-family: 'Libre Franklin', sans-serif;
                font-weight: 700;
                text-align: left;
            }
            .paidSuggestion {
                font-size: 14px;
                line-height: 20px;
            }
            .articleDate {
                height: 20px;
                color: rgb(131, 131, 131);
                font-family: 'Libre Franklin', sans-serif;
                font-size: 11px;
                text-transform: uppercase;
            }
        }
        .paidSuggestionBox {
            background: rgb(242, 242, 242);
        }
    }

    .suggestionsRight {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-between;
        width: 318px;
        margin-left: 14px;
        padding-top: 20px;
        border-top: 1px solid black;

        .popularTitleLink {
            height: 42px;
        }

        .popularLink {
            padding: 12px 0;
            font-family: 'Abhaya Libre', cursive;
            font-size: 13px;
            font-weight: 400;
            border-top: 1px solid rgb(212, 212, 212);
        }
    }
}

.mainFooter {
    width: 1200px;
    margin: 0 auto;
    /*height: 600px;*/
    border-top: 2px solid rgb(222, 222, 222);

    .footarNavTitle {
        margin-top: 1px;
        border-top: 1px solid rgb(222, 222, 222);

        img {
            height: 38px;
            margin: 4px 0 6px -6px;
        }
    }
    .footerNav {
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        border-bottom: 1px solid rgb(222, 222, 222);

        h3, a {
            color: black;
            font-family: 'Libre Franklin', sans-serif;
            text-decoration: none;
        }
        h3 {
            font-size: 12px;
            text-transform: uppercase;
        }
    }

    .footerLeftNav {
        display: inline-flex;
        flex-direction: row;
        width: 1000px;

        .navRow {
            display: inline-flex;
            flex-direction: column;
            width: 197px;
        }
        a {
            margin-top: 8px;
            font-size: 13px;
        }
        .fifthFooterNav {
            border-right: 1px solid rgb(222, 222, 222);
        }
    }
    .footerRightNav {
        display: inline-flex;
        flex-direction: column;
        width: 200px;

        .topRightFooterNav,
        .middleRightFooterNav,
        .bottomRightFooterNav {
            display: flex;
            flex-direction: column;
        }

        .topRightFooterNav {
            margin-bottom: 14px;

            a {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                margin-top: 8px;
            }
            img {
                width: 14px;
                height: 14px;
            }
            h2 {
                margin-left: 8px;
                font-size: 15px;
            }
        }
        .middleRightFooterNav,
        .bottomRightFooterNav {
            padding: 4px 0;

            a {
                padding: 6px 0;
                font-size: 10px;
            }
        }
        .bottomRightFooterNav {
            border-top: 1px solid rgb(222, 222, 222);
        }
    }
}

.legalFooter {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    color: rgb(131, 131, 131);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;

    .contactAndTerms {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        height: 60px;
        padding: 10px 80px 0 66px;
    }
    a {
        color: black;
        font-family: 'Libre Franklin', sans-serif;
        text-decoration: none;
        font-size: 10px;
    }
}


@media (max-width: 1700px) {

    .pageNav {
        display: grid;
        grid-template-columns: auto 660px auto;
        grid-template-areas: "leftNav brand rightNav";

        .navLeft,
        .replacedLeftNav {
            @include basic-vertical-flex;
            justify-content: flex-start;
            margin-left: 5px;
        }
        .navRight,
        .replacedRightNav {
            @include basic-vertical-flex;
            justify-content: flex-end;
            margin-right: 35px;
        }
    }

    .fullWidth {
        #textPopUpOne {
            margin: -170px 0 0 80px;
            .textoverflowTwo {
                text-align: right;
            }
        }

        #textPopUpTwo {
            margin: -120px 0 0 260px;
        }

        #textPopUpThree {
            margin: -170px 0 0 40px;
            .textoverflowTwo {
                margin-left: 20px;
            }
        }

        #textPopUpFour {
            margin: -160px 0 0 240px;
            .textoverflowOne {
                margin-right: 14px;
            }
            .textoverflowTwo {
                text-align: right;
            }
        }
    }
    
}

@media (max-width: 1280px) {

    .pageNav {
        display: grid;
        grid-template-columns: auto 440px auto;
        grid-template-areas: "leftNav brand rightNav";

        .navLeft,
        .replacedLeftNav {
            @include basic-vertical-flex;
            justify-content: flex-start;
            margin-left: 5px;
        }
        .navRight,
        .replacedRightNav {
            @include basic-vertical-flex;
            justify-content: flex-end;
            margin-right: 35px;
        }
    }

    .fullWidth {
        #textPopUpOne,
        #textPopUpTwo,
        #textPopUpThree,
        #textPopUpFour {
            font-size: 20px;
        }
        #textPopUpOne {
            margin: -140px 0 0 100px;
        }
    
        #textPopUpTwo {
            margin: -100px 0 0 280px;
        }
    
        #textPopUpThree {
            margin: -140px 0 0 120px;
        }
    
        #textPopUpFour {
            margin: -130px 0 0 240px;
            
        }
    }
}