* {
  margin: 0;
  padding: 0; }

body, main {
  width: 100%;
  overflow-x: hidden; }

.title {
  grid-area: title; }

.mainImage {
  grid-area: imageblock; }

.text {
  grid-area: textblock; }

.navLeft {
  grid-area: leftNav; }

.journal {
  grid-area: brand; }

.navRight {
  grid-area: rightNav; }

.pageNav {
  display: grid;
  grid-template-columns: auto 900px auto;
  grid-template-areas: "leftNav brand rightNav";
  position: fixed;
  top: 0;
  height: 42px;
  width: 100%;
  padding: 2px 20px 0 20px;
  background: white;
  border-bottom: 1px solid #b4b4b4;
  box-shadow: 0 1px 2px 1px #dedede;
  z-index: 1; }
  .pageNav .navLeft,
  .pageNav .replacedLeftNav,
  .pageNav .navRight,
  .pageNav .replacedRightNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.navLeft {
  max-height: 20px;
  box-sizing: border-box;
  margin-left: -50px;
  margin-top: 10px; }
  .navLeft .navIcon {
    height: 14px;
    width: 14px;
    margin-right: 26px; }
  .navLeft .subject {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 13px;
    text-transform: uppercase; }

.hiddenLeftNav {
  display: none; }

.replacedLeftNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -40px; }
  .replacedLeftNav .journalName {
    height: 36px; }

.navMiddle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto; }
  .navMiddle .journalName {
    height: 40px;
    margin-left: -50px; }

.hiddenMiddleNav {
  display: none; }

.replacedMiddleNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px; }
  .replacedMiddleNav .subject {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
    letter-spacing: -1px;
    word-spacing: 1px;
    text-transform: uppercase; }
  .replacedMiddleNav span {
    margin: 0 1px;
    color: #b4b4b4;
    font-size: 18px;
    font-weight: 100; }
  .replacedMiddleNav .articleTitle {
    font-size: 15px;
    font-family: 'Alegreya', serif; }

.navRight {
  margin-top: -4px; }
  .navRight input {
    height: 34px;
    padding: 2px 12px 0 12px;
    color: white;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    background: #396a8a;
    border: none;
    border-radius: 4px; }
    .navRight input:hover {
      background: #2c526b; }
  .navRight .subscribe {
    margin-left: -40px; }
  .navRight .logIn {
    margin-left: 6px; }

.hiddenRightNav {
  display: none; }

.replacedRightNav {
  margin-top: 4px;
  margin-left: -40px; }
  .replacedRightNav .madia {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    padding: 6px;
    background: #e8e8e8;
    border-radius: 50%; }
  .replacedRightNav .bookmark,
  .replacedRightNav .chat {
    height: 30px;
    width: 32px;
    margin-right: 8px; }

header {
  display: grid;
  grid-template-columns: auto 1190px auto;
  grid-template-areas: " . title . " " . imageblock . " " . textblock . ";
  margin-top: 42px; }
  header h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin: 28px auto;
    font-family: 'Sansita', serif;
    font-size: 34px;
    font-style: italic;
    font-weight: 700 italic;
    word-spacing: 4px;
    line-height: 44px; }
  header .subText {
    width: 880px;
    margin-top: 12px;
    color: #3a3a3a;
    font-size: 17px;
    font-weight: 500; }
    header .subText span {
      color: #656565;
      font-size: 15px;
      padding: 0 4px; }

.textHeader {
  display: block;
  max-width: 600px;
  margin: 20px auto;
  padding: 24px 0 15px 0;
  font-family: 'Libre Franklin', sans-serif; }
  .textHeader h4 {
    width: 600px; }
    .textHeader h4 span {
      text-decoration: underline #9e9e9e;
      text-underline-offset: 2px; }
  .textHeader .date_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-top: 8px; }
    .textHeader .date_links .articleNav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 260px; }
    .textHeader .date_links .date {
      margin-top: 20px;
      color: #3a3a3a;
      font-size: 12px;
      font-weight: 500; }
    .textHeader .date_links .madia {
      height: 16px;
      width: 16px;
      padding: 6px;
      background: #e8e8e8;
      border-radius: 50%; }
    .textHeader .date_links .bookmark,
    .textHeader .date_links .chat {
      height: 30px;
      width: 32px; }

.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin: 0 auto; }

.mainText .textPart {
  margin: 0 2px 0 0;
  padding-bottom: 20px;
  font-family: 'Alegreya', serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px; }
  .mainText .textPart a {
    color: #2d6285;
    text-underline-offset: 2px; }

.fullWidth {
  margin: 26px 0 30px 0;
  padding: 6px 4px;
  background: #dedede; }
  .fullWidth .commercialMirror {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%; }
  .fullWidth img {
    opacity: 0.8;
    width: 99.975%; }
  .fullWidth .textoverflow {
    display: block;
    position: absolute;
    padding: 14px 16px 12px 16px;
    color: white;
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-shadow: 1px 1px 2px black;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
  .fullWidth #textPopUpOne {
    margin: -250px 0 0 700px;
    background: rgba(58, 58, 58, 0.2); }
    .fullWidth #textPopUpOne .textoverflowTwo {
      text-align: right; }
  .fullWidth #textPopUpTwo {
    margin: -160px 0 0 200px; }
  .fullWidth #textPopUpThree {
    margin: -210px 0 0 500px;
    background: rgba(58, 58, 58, 0.4); }
  .fullWidth .textoverflow_hidden {
    opacity: 0; }
  .fullWidth .textoverflow_shown {
    animation: apear 2.5s forwards; }
  .fullWidth .textoverflow_flowOut {
    animation: disapear 2.5s forwards; }
  .fullWidth .textoverflowOne {
    margin: 0 0 6px 0; }
  .fullWidth .textoverflowTwo {
    margin: 0 0 0 110px; }

@keyframes apear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes disapear {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.subsciribeInBetween {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6px 0 14px 0;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px; }
  .subsciribeInBetween a {
    color: #2d6285;
    text-decoration: none;
    font-weight: 600; }

.drawings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 960px;
  margin: 28px auto; }
  .drawings .explainInDrawing {
    display: grid;
    grid-template-columns: auto 1190px auto;
    grid-template-areas: " . imageblock . ";
    margin: 0 auto; }
    .drawings .explainInDrawing img {
      max-width: 960px; }
  .drawings .drawinSubtext {
    display: block; }

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px; }
  .video iframe {
    height: 340px; }

/*# sourceMappingURL=stylesheet.css.map */
