table{
    border-collapse: separate;
    font-family: 'Aladin', cursive;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

th, td {
    border: 2px solid darkslategray;
    border-radius: 6px;
    min-width: 120px;
}
#inbetween {
    width: 28px;
}

#tableTitle {
    min-width: 408px;
    padding: 18px;
    color: darkolivegreen;
    font-size: 30px;
    background-color: rgb(0, 139, 139);
}
.title {
    background-color: rgba(84, 126, 117, 0.8);
}

th {
    padding: 12px;
    color: darkred;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0 0 3px darkgray;
    background-color: rgba(84, 126, 117, 0.8);
}
td {
    padding: 4px 0;
    font-size: 22px;
}

/*
font-family: 'Aladin', cursive;
font-family: 'Eagle Lake', cursive;
font-family: 'Julee', cursive;
font-family: 'Kavivanar', cursive;
*/
