* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  color: black; }

header {
  width: 100%; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 56px;
  width: 100%;
  padding: 8px 20px;
  background: white; }

a {
  text-decoration: none;
  display: inline-block; }

.left-nav,
.search-box {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  padding-top: 4px; }

.left-nav {
  display: block;
  min-width: 150px; }

.sidebar {
  margin-right: 20px; }

.logo {
  display: flex;
  flex-direction: row;
  width: 100px;
  padding-top: 4px; }
  .logo .brand-name {
    height: 24px;
    display: block; }
  .logo .brand-name:not(:root) {
    overflow: hidden;
    pointer-events: none; }
  .logo small {
    vertical-align: top;
    color: #232323;
    font-size: 10px;
    font-weight: 300; }

.search-box {
  display: inline-block;
  horiz-align: center;
  width: 60%;
  max-width: 640px;
  height: 28px; }

nav form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  border: 1px solid #adadad;
  border-radius: 2px; }
  nav form .search-field,
  nav form .button-field {
    margin: 0 0; }
  nav form .search-field {
    width: 90%; }
    nav form .search-field input {
      height: 100%;
      padding-left: 6px;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 16px;
      border: none; }
    nav form .search-field .keyboard {
      float: right;
      margin: 2px 6px 0 0;
      opacity: 0; }
    nav form .search-field:hover .keyboard {
      opacity: 1; }
  nav form .button-field {
    width: 10%; }
    nav form .button-field button {
      width: 100%;
      height: 100%;
      border: none;
      border-left: 1px solid #adadad;
      background: #f0f0f0; }
      nav form .button-field button img {
        margin-top: 2px; }

.right-nav {
  display: flex;
  flex-direction: row;
  float: right;
  min-width: 265px;
  height: 46px; }

.video-post,
.apps,
.settings {
  margin-left: 22px; }

.video-post {
  margin-top: 12px; }

.apps {
  margin-top: 10px; }

.settings {
  margin-top: 12px; }

.login {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  margin-left: 20px;
  height: 28px;
  padding: 5px 14px 5px 10px;
  border: .02em solid #225ab0;
  border-radius: 2px; }
  .login p {
    margin-left: 8px;
    font-family: "Roboto", Arial, sans-serif;
    color: #225ab0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase; }

main {
  display: inline-block;
  width: 74%;
  min-height: 800px;
  background: #f8f8f8; }
  main .video-container {
    padding: 25px 2% 10px 6%; }
    main .video-container .video-screen {
      height: 720px; }
      main .video-container .video-screen iframe {
        width: 100%;
        height: 100%; }

aside {
  display: inline-block;
  float: right;
  width: 26%;
  background: #c1c1c1; }
  aside p {
    font-size: 28px; }

/*# sourceMappingURL=main.css.map */
