* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Roboto", Arial, sans-serif;
  color: black;
  background: #f8f8f8;
}
header {
  width: 100%;
}
/*---------------------------------------------------------------------------------------*/

/*
  **************************
  Tooltips
  **************************
*/
    /*
      --------------------------
      General
      --------------------------
    */

.tooltip {
  position: relative;
  cursor: pointer;

  .tooltiptext {
    display: none;
    top: 44px;
    background-color: #858585;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    border-radius: 2px;
    padding: 10px 8px;
    margin: 0 auto;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  &:hover .tooltiptext {
    display: block;
  }
}

    /*
      --------------------------
      Tooltips - nav
      --------------------------
    */

.button-field {
  .tooltiptext {
    width: 46px;
    left: 2px;
  }
}

.video-post {
  .tooltiptext {
    width: 138px;
    left: -60px;
  }
}
.apps {
  .tooltiptext {
    width: 90px;
    left: -32px;
  }
}
.settings {
  .tooltiptext {
    left: -24px;
  }
}

    /*
      --------------------------
      Tooltips - main-video
      --------------------------
    */

.like {
  .tooltiptext {
    width: 60px;
  }
}
.dislike {
  .tooltiptext {
    width: 80px;
    left: -8px;
  }
}
.share {
  .tooltiptext {
    width: 40px;
    left: 18px;
  }
}

    /*
      --------------------------
      Tooltips - comment
      --------------------------
    */

.comments-btn {
  .tooltiptext {
    width: 100px;
  }
}

/*----------------------------------------------------------------------------------------*/

/*
  **************************
  Nav-bar
  **************************
*/
    /*
      --------------------------
      General
      --------------------------
    */

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  height: 56px;
  width: 100%;
  padding: 8px 20px 8px 16px;
  background: rgba(255, 255, 255, 0.98);
}

a {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.left-nav,
.search-box {
  display: flex;
  flex-direction: row;
  vertical-align: center;
}

    /*
      --------------------------
      Left-nav
      --------------------------
    */

.left-nav {
  display: block;
  min-width: 150px;
}
.sidebar-btn-show {
  margin-left: 2px;
  margin-right: 20px;
  outline: none;
  width: 32px;
  height: 32px;
  padding: 6px 6px;
  border: none;
  background: none;
  border-radius: 50%;
}
.sidebar-btn-show:active {
  background: #d6d6d6;

}
/*  Sidebar-styling after nav-styling
    - - - - - - - - - - - - - - - - -  */

.logo {
  display: flex;
  flex-direction: row;
  width: 100px;
  padding-top: 6px;

  .brand-name {
    height: 26px;
    display: block;
  }
  .brand-name:not(:root) {
    overflow: hidden;
    pointer-events: none;
  }
  small {
    vertical-align: top;
    color: #232323;
    font-size: 10px;
    font-weight: 300;
  }
}

    /*
      --------------------------
      Search-nav
      --------------------------
    */

.search-box {
  display: inline-block;
  horiz-align: center;
  width: 60%;
  padding-top: 4px;
  max-width: 640px;
  height: 28px;
  background: white;
}
nav form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  border: 1px solid #adadad;
  border-radius: 2px;

  .search-field,
  .button-field {
    margin: 0 0;
  }
  .search-field {
    width: 90%;
    input {
      height: 100%;
      padding-left: 6px;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 16px;
      border: none;
    }
    .keyboard {
      float: right;
      margin: 2px 6px 0 0;
      opacity: 0;
    }
    &:hover {
      .keyboard {
        opacity: 1;
      }
    }
  }
  .button-field {
    width: 10%;
    button {
      width: 100%;
      height: 100%;
      border: none;
      border-left: 1px solid #adadad;
      background: #f0f0f0;
      img {
        margin-top: 2px;
      }
    }
  }
}

    /*
      --------------------------
      Right-nav & Login
      --------------------------
    */

.right-nav {
  display: flex;
  flex-direction: row;
  float: right;
  min-width: 250px;
  height: 46px;
}

.video-post,
.apps,
.settings {
  margin-left: 22px;
}
.video-post {
  margin-top: 12px;
}
.apps {
  margin-top: 10px;
}
.settings {
  margin-top: 12px;
}

.login {
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  margin-left: 20px;
  height: 28px;
  padding: 5px 14px 5px 10px;
  border: 1px solid #225ab0;
  border-radius: 2px;

  p {
    margin-left: 8px;
    font-family: "Roboto", Arial, sans-serif;
    color: #225ab0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
/*---------------------------------------------------------------------------------------*/

/*
  *************************
  Side-bar
  *************************
*/

.hidden-sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  z-index: 2;

  .sidebar-container {
    width: 240px;
    font-size: 15px;
    background: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12), 0px 6px 8px 0px rgba(0,0,0,0.12);
  }

  .sidebar-top-nav {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    position: fixed;
    top: 0;
    padding-top: 12px;
    width: 218px;
    height: 44px;
    padding-left: 22px;
    background: rgba(255, 255, 255, 0.98);
    border-bottom: 1px solid #dddddd;
  }
  .sidebar-btn-hide {
    margin-left: 2px;
    margin-right: 20px;
    outline: none;
    width: 32px;
    height: 32px;
    padding: 6px 6px;
    border: none;
    background: none;
    border-radius: 50%;
  }
  .sidebar-btn-hide:active {
    background: #d6d6d6;

  }

  .logo {
    padding-top: 2px;
  }

  .sidebar-links {
    display: block;
    height: 40px;

    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      color: #3b3b3b;

      p {
        margin-left: 20px;
      }
    }
  }

  .home-box,
  .library-history-box,
  .sign-in-box,
  .best-of,
  .channels,
  .more-from-youtube,
  .technical {
    display: block;
    padding-top: 18px;
    padding-left: 28px;
    border-bottom: 1px solid #dddddd;
  }

  .home-box {
    height: 120px;
    padding-top: 24px;
    margin-top: 56px;
  }
  .library-history-box {
    height: 80px;
  }
  .sign-in-box {
    height: 100px;
    padding-bottom: 4px;

    p {
      font-size: 14px;
      font-weight: 100;
      line-height: 20px;
    }
    .sign-in-logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 24px;
      width: 88px;
      margin-top: 14px;
      padding: 4px 10px 4px 8px;
      border: 1px solid #225fb5;
      border-radius: 2px;

      p {
        margin-left: 8px;
        color: #225fb5;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

  .best-of,
  .more-from-youtube {

    h2 {
      padding-bottom: 16px;
      color: #4b4b4b;
      font-family: "Roboto Condensed", Arial, sans-serif;
      font-size: 14px;
      text-transform: uppercase;
    }
  }

  .judicial-dev-links,
  .terms-policy-links {
    display: block;
    padding-top: 18px;
    padding-left: 28px;

    a {
      color: #5e5e5e;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .google-copyright {
    display: block;
    padding-top: 18px;
    padding-left: 28px;
    padding-bottom: 20px;
    color: #979797;
    font-size: 13px;
  }


}
.sidebar-hide {
  animation: slideOut 200ms forwards;
}

.sidebar-shown {
  display: block;
  top: 0;
  animation: slideIn 400ms forwards;
}

@keyframes slideIn {
  from {
    display: block;
    transform: translateX(-15em);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-15em);
    display: block;
  }
}

    /*
      --------------------------
      Dark overlay with sidebar slide in
      --------------------------
    */

.overlay {
  display: none;
  opacity: 0;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 1;
}
.animate-overlay {
  animation: overlay 200ms forwards;
}

@keyframes overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*---------------------------------------------------------------------------------------*/

/*
  ***********************
  Main part
  ***********************
*/

    /*
      --------------------------
      General
      --------------------------
    */

.main-video {
  display: inline-block;
  width: 68%;
  margin-top: 56px;
  padding: 25px 1% 0 5%;
}

    /*
      --------------------------
      Main - video
      --------------------------
    */

.video-box {
  padding-bottom: 10px;
}
.video-screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

    /*
      --------------------------
      Main - video - info
      --------------------------
    */

.video-footer {
  display: block;

  h1 {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
  }

  .video-views-date {
    display: block;
    box-sizing: border-box;
    min-width: 100%;
    height: 42px;
    margin: 20px 0;
    border-bottom: 1px solid #bfbfbf;

    h4 {
      display: inline-block;
      color: #686868;
      font-size: 13px;
      font-weight: 400;
    }
    .rate-share-save-options {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      vertical-align: bottom;
      float: right;
      margin-top: 6px;

      .ratings {
        display: inline-flex;
        justify-content: space-between;
        vertical-align: bottom;
        padding-bottom: 12px;
        margin-right: 22px;
        border-bottom: 2px solid #919191;

        .like{
          display: flex;
          padding: 0 2px;
          margin-right: 14px;
          img,
          p {
            padding: 0 4px;
          }
          img {
            margin-top: -2px;
            padding-left: 6px;
          }
        }
        .dislike {
          display: flex;
          padding: 0 2px;
          img,
          p {
            padding: 0 4px;
          }
          img {
            padding-left: 6px;
          }
        }

      }
      .share {
        display: inline-flex;
        padding-bottom: 12px;
        margin-right: 22px;

        .share-video {
          display: flex;

          img,
          p {
            padding: 0 4px;
          }
        }
      }
      .save {
        display: inline-flex;
        padding-bottom: 12px;
        margin-right: 22px;

        .save-video {
          display: flex;

          img,
          p {
            padding: 0 4px;
          }
        }
      }
      .report-translate {
        display: inline-block;
        vertical-align: bottom;
        padding-bottom: 12px;
        margin-right: 6px;

        .video-options {
          img,
          p {
            padding: 0 4px;
          }
        }
      }
      p {
        color: #686868;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}
/*---------------------------------------------------------------------------------------*/

/*
  ***********************
  Publisher
  ***********************
*/

  /*
    --------------------------
    General
    --------------------------
  */

.publisher-info {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 18px;
  border-bottom: 1px solid #bfbfbf;

  .publisher-photo {
    display: inline-block;
    vertical-align: top;
    border-radius: 50%;
  }
  .info-container {
    display: inline-block;
    width: 100%;
    margin-left: 12px;
    font-size: 14px;

    .publisher-name-subscribers {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .publisher-title {
        display: inline-block;

        .publisher-name {
          font-weight: 400;
          span {
            margin-left: 2px;
            color: #3f3f3f;
            font-size: 13px;
          }
        }
        .subscribers {
          color: #3f3f3f;
          margin-bottom: 24px;
        }
      }
      .subscribe-sigin-btn {
        display: inline-block;
        position: relative;
        padding: 12px 14px;
        height: 40px;
        color: white;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        outline: none;
        background: #d51b00;
        border: none;
        border-radius: 2px;

        .subscribe-sigin-container {
          width: 380px;
          top: 40px;
          left: 0;
          z-index: 1;
          text-align: left;
          text-transform: none;
          background-color: rgba(249, 249, 249, 0.98);
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

          .subscribe {
            padding: 18px 16px 20px 16px;
            border-bottom: 1px solid #c7c7c7;

            h4 {
              padding: 10px 8px;
              color: black;
              font-size: 16px;
              font-weight: 400;
            }
            p {
              padding: 12px 8px 16px 8px;
              color: #3b3b3b;
              font-size: 14px;
              font-weight: 400;
            }
          }
          .signin {
            padding: 10px 16px;

            a {
              padding: 12px 8px 8px 8px;
              text-transform: uppercase;
            }
          }
        }
        .subscribe-sigin-hide {
          display: none;
        }
        .subscribe-sigin-show {
          display: block;
          position: absolute;
        }
      }
    }

    .publisher-text {
      margin-bottom: 24px;
    }
    a {
      color: #0f50b6;
    }
    .dropdown-info {
      margin-top: 14px;
      button {
        color: #616161;
        font-family: "Roboto", Arial, sans-serif;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        background: none;
        border: none;
        outline: none;
      }
      button:active {
        outline: none;
      }
      .table-hide {
        display: none;
      }
      .table-show {
        display: block;
        margin-bottom: 18px;
      }
    }
    table {
      display: block;
      max-width: 630px;
      margin-left: 0;
      padding: 0;
      text-align: left;
      line-height: 20px;

      th {
        width: 120px;
        color: #7a7a7a;
        font-weight: 400;
      }
      thead th {
        padding-bottom: 18px;
        border-bottom: 1px solid #c2c2c2;
      }
      tbody th,
      tbody td {
        padding-top: 8px;
      }
      .license {
        vertical-align: top;
      }
    }
  }
}

/*---------------------------------------------------------------------------------------*/

/*
  ***********************
  Comments
  ***********************
*/
  /*
    --------------------------
    General
    --------------------------
  */

.comments-container {
  display: block;
  margin-top: 22px;

  .comments-sorting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;

    p {
      padding-top: 4px;
    }
    .comments-btn {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      background: none;
      border: none;
      outline: none;

      img {
        margin-right: 14px;
      }
      p {
        padding-top: 2px;
        color: #4b4b4b;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    .menu-hide {
      display: none;
      position: absolute;
      top: 40px;
      padding: 12px 0;
      z-index: 1;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }
    .menu-show {
      display: block;
    }
    .menu-container {
      background: white;
      p {
        width: 100px;
        padding: 12px 10px;
        font-size: 13px;
        font-weight: 400;
        text-transform: none;
      }
      p:hover {
        background: #f0f0f0;
      }
    }
  }

  .comment-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 26px 0;

    img {
      display: inline-block;
      padding: 0;
    }
    form {
      display: inline-block;
      width: 100%;
      margin-top: 4px;
      margin-left: 14px;

      input {
        width: 100%;
        padding-bottom: 6px;
        color: #424242;;
        font-size: 13px;
        border: none;
        border-bottom: 1px solid #c2c2c2;
        background: none;
        outline: none;
      }
    }
  }

  .comments {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    font-size: 14px;

    img {
      display: inline-block;
      margin-right: 14px;
      padding: 0;
    }
    .personal-comment {
      display: inline-block;
      width: 100%;
      margin-right: 0;
      padding-right: 0;

      .commenter-name-date {
        display: flex;
        margin: 6px 0;

        h4 {
          display: inline-block;
          font-weight: 400;
        }
        .comment-date {
          margin-left: 4px;
          color: #626262;
        }
      }
      .comment-like-reply {
        display: flex;
        margin: 12px 0;

        .comment-like {
          display: flex;

          img {
            display: inline-block;
          }
          p {
            display: inline-block;
            padding: 2px 0 0 0;
            margin: 0 10px 0 -5px;
            color: #626262;
            font-size: 12px;
          }
        }
        .comment-dislike {
            margin-right: 10px;
        }
        .comment-reply {
          margin-top: 1px;
          color: #626262;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
}





/*---------------------------------------------------------------------------------------*/

/*
  ***********************
  Playlist or suggestions
  ***********************
*/

  /*
    --------------------------
    General
    --------------------------
  */
.playlist {
  display: inline-block;
  float: right;
  margin-top: 56px;
  width: 26%;
  background: #c1c1c1;

  p{
    font-size: 28px;
  }
  input {
    width: 32px;
    height: 18px;
    background-size: 6px;
  }
}