* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

header {
  width: 800px;
  margin: 0 auto; }

.topnav {
  position: fixed;
  margin-top: 24px;
  width: 800px;
  border-radius: 3px;
  background: linear-gradient(180deg, #202020 0%, #4f4f4f 48%, #a1a1a1 100%);
  box-shadow: 2px 2px 2px #6f6f6f; }
  .topnav ul {
    margin: 0 auto;
    list-style-type: none;
    overflow: hidden; }
    .topnav ul li {
      float: left;
      width: 10.75%;
      border-left: 1px solid dimgray;
      overflow: hidden; }
      .topnav ul li a {
        display: block;
        width: 100%;
        padding: 8px 0;
        color: #d8d7d7;
        font-family: 'Dosis', sans-serif;
        font-size: 12px;
        text-align: center;
        text-decoration: none;
        background: rgba(32, 32, 32, 0); }
        .topnav ul li a:hover {
          background: rgba(0, 0, 0, 0.2); }
    .topnav ul .logoBox {
      border-left: none; }
      .topnav ul .logoBox .logo {
        padding: 5px 0; }
        .topnav ul .logoBox .logo img {
          margin-top: 1px; }
    .topnav ul .searchBox {
      width: 13%; }
      .topnav ul .searchBox a {
        padding: 7px 0; }
        .topnav ul .searchBox a input {
          width: 78%;
          height: 17px;
          outline: none;
          border: none;
          border-radius: 12px;
          box-shadow: inset -1px 2px 1px black;
          background: transparent url("../assets/icons/search.png");
          background-size: 9px;
          background-position: 4px 3px;
          background-repeat: no-repeat; }

main {
  width: 100%;
  height: auto; }

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  max-height: 723px; }
  .topSection .mainPhotoBox {
    display: block;
    bottom: 0; }
    .topSection .mainPhotoBox .mainPhoto {
      width: 100%;
      height: auto; }
  .topSection .titleBox {
    display: block;
    position: absolute;
    width: 100%;
    max-width: 1440px;
    height: 240px;
    top: 200px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center; }
    .topSection .titleBox h1 {
      font-size: 58px;
      font-weight: 100; }
    .topSection .titleBox h3 {
      padding: 16px 0 24px 0;
      font-size: 30px;
      font-weight: 100;
      width: 800px;
      margin: 0 auto; }
    .topSection .titleBox a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: white;
      text-decoration: none; }
      .topSection .titleBox a h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 23px;
        font-weight: 100; }
      .topSection .titleBox a img {
        height: 25px;
        margin-left: 8px; }

.bottomSection {
  display: block;
  padding-top: 1px; }
  .bottomSection .linkPhotoBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .bottomSection .linkPhotoBox a {
      display: flex;
      justify-content: center;
      width: 24.75%;
      height: 200px;
      overflow-x: hidden; }
      .bottomSection .linkPhotoBox a img {
        width: 364px;
        height: 200px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-width: 1040px;
  margin: 0 auto; }
  footer p, footer a {
    padding: 8px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-align: center; }
  footer p {
    color: black; }
  footer a {
    padding: 0 4px;
    color: #2481e6;
    text-decoration: none; }
  footer .navLink {
    border-right: 1px solid lightgray; }

.leftFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 470px; }

.rightFooter {
  width: 520px;
  margin-left: 26px; }
  .rightFooter img {
    height: 20px; }

/* ---------------------------- RESPONSIVENESS ---------------------------- */
/* ------------------------------------------------------------------------ */
/* Fixed this easier, so no need for this code anymore */
/*
@media (min-width: 960px) {

    body {
        width: 960px;
    }

    header {
        width: 930px;
        margin: 0 auto;
    }
    
    .topnav {
        width: 930px;
        
        ul {
            .searchBox {
                width: 13.1%;
            }
        } 
    }

    .topSection {
        .mainPhotoBox .mainPhoto {
            width: 960px;
        }

        .titleBox {    
            width: 960px;
            margin-top: -496px;
        }
    }

    .bottomSection {
        width: 960px;
    
        .linkPhotoBox {
            a {
                width: 238px;

                img {
                    width: 238px;
                }
            }
        }
    }
}

@media (min-width: 1240px) {

    body {
        width: 1240px;
    }

    header {
        width: 930px;
        margin: 0 auto;
    }
    
    .topnav {
        width: 930px;
        
        ul {
            .searchBox {
                width: 13.1%;
            }
        } 
    }

    .topSection {
        .mainPhotoBox .mainPhoto {
            width: 1240px;
        }

        .titleBox {    
            width: 1240px;
            margin-top: -712px;
        }
    }

    .bottomSection {
        width: 1240px;
    
        .linkPhotoBox {
            a {
                width: 308px;

                img {
                    width: 308px;
                }
            }
        }
    }
}

@media (min-width: 1440px) {

    body {
        width: 1440px;
        margin: 0 auto;
    }

    header {
        width: 980px;
        margin: 0 auto;
    }
    
    .topnav {
        width: 980px;
        
        ul {
            .searchBox {
                width: 13.1%;
            }
        } 
    }
    
    .topSection {
        .mainPhotoBox .mainPhoto {
            width: 1440px;
        }

        .titleBox {    
            width: 1440px;
            margin-top: -868px;
        }
    }

    .bottomSection {
        width: 1440px;
    
        .linkPhotoBox {
            a {
                width: 357px;

                img {
                    width: 357px;
                }
            }
        }
    }
}

@media (min-width: 1880px) {

    body {
        width: 1440px;
    }

    header {
        width: 980px;
        margin: 0 auto;
    }
    
    .topnav {
        width: 980px;
        
        ul {
            .searchBox {
                width: 13.1%;
            }
        } 
    }

    .topSection {
        .mainPhotoBox .mainPhoto {
            width: 1440px;
        }

        .titleBox {    
            width: 1440px;
            margin-top: -868px;
        }
    }

    .bottomSection {
        width: 1440px;
    
        .linkPhotoBox {
            a {
                width: 357px;

                img {
                    width: 357px;
                }
            }
        }
    }
}
*/

/*# sourceMappingURL=stylesheet.css.map */
