@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  color: #888;
  /*font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  background: #293f50;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container, 
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}

/*
  ========================================
  Rows
  ========================================
*/

.row {
  background: #fff;
  padding: 66px 0 22px 0;
}
.row,
.row-alt {
  min-width: 960px;
}
.row-alt {
  min-height: 300px;
  padding: 44px 0 22px 0;
  margin-top: 38px;
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #ebf696);
  background: -moz-linear-gradient(to right, #a1d3b0, #ebf696);
  background: linear-gradient(to right, #a1d3b0, #ebf696);
}

/*
  ========================================
  Columns & Grid
  ========================================
*/

.col-1-3-a {
  width: 30.5%;
  margin: 0 12px;
}
.col-1-3-b {
  width: 28%;
  margin: 0 0 0 12px;
}
.col-2-3 {
  width: 70%;
}
.col-1-3-a,
.col-1-3-b,
.col-2-3{
  display: inline-block;
  vertical-align: top;
}

.grid,
.col-1-3-a,
.col-1-3-b,
.col-2-3  {
  padding-left: 4px;
  padding-right: 4px;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h4, p {
  margin-bottom: 22px;
  color: #656b69;
}
h2, h3, h5 {
  font-family: "Montserrat", Arial, sans-serif;
}
h1, h4, p {
  font-family: "Montserrat Alternates", Arial, sans-serif;
}
h1 {
  color: #3ca1ec;
  font-size: 66px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 80px;
}
h2 {
  color: #46898f;
  font-size: 24px;
  font-weight: 500;
  line-height: 44px;
}
h3 {
  color: #5d9c8f;
  font-size: 24px;
  font-weight: 500;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
}
p {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 42px;
  padding-bottom: 12px;
}
strong {
  color: #a8a8a8;
  font-size: 18px;
  font-weight: 400;
}
cite, em {
  font-style: italic;
}
a:focus {
  outline: none;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  text-decoration: none;
  text-underline-offset: 10px;
  color: #3191d0;
}
a:hover {
  color: #ebf696;
}

/*
  ========================================
  Primary header
  ========================================
        ========================================
        Primary nav --> header & footer
        ========================================
*/

.primary-footer {
  padding-bottom: 44px;
  padding-top: 44px;
  color: #648880;
  font-size: 14px;
}
.primary-footer small {
  float: left;
  margin-top: 6px;
  font: 300 16px "Montserrat Alternates", Arial, sans-serif;
  font-weight: 400;
}
.nav ul {
  display: flex;
  flex-direction: row;
}
.nav li {
  font: 400 18px "Montserrat Alternates", Arial, sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
.top-nav li {
  border-bottom: 1px solid rgba(165, 167, 168, 0.5);
}
.top-nav li:nth-child(odd) {
  border-left: 1px solid rgba(165, 167, 168, 0.5);
  border-right: 1px solid rgba(165, 167, 168, 0.5);
}
/*
.top-nav li:first-child {
  border-bottom-left-radius: 5px;
}
.top-nav li:last-child {
  border-bottom-right-radius: 5px;
}
*/
.top-nav li a,
.bottom-nav li a {
  display: inline-block;
  text-align: center;
}
.top-nav li a {
  width: 183px;
  padding: 7px 0 10px 0;
}
.bottom-nav ul {
  justify-content: flex-end;
}
.bottom-nav li {
  margin-right: 12px;
}
.bottom-nav li:first-child {
  margin-left: 0;
}
.bottom-nav li:last-child {
  margin-right: 0;
}
.bottom-nav li a {
  width: 128px;
  padding: 4px 0;
  background: rgba(172, 178, 176, 0.08);
  border: 1px solid rgba(165, 167, 168, 0.65);
  border-radius: 4px;

}
.top-nav li a:hover,
.bottom-nav li a:hover {
  color: #dee88d;
  background: rgba(33, 111, 96, 0.8);
  box-shadow: none;
}

/*
        ========================================
        Logo + date & location
        ========================================
*/

.logo-link .logo {
  float: left;
  margin-top: 50px;
  border-top: 1px solid #648880;
  border-right: 1px solid #648880;
  border-bottom: 8px solid #648880;
  border-left: 8px solid #648880;
  border-radius: 8px;
  border-top-right-radius: 0;
  padding: 16px 36px 24px 36px;
  text-shadow: -2px 2px 2px rgba(122, 15, 0, 0.8);
  box-shadow: 4px -4px 4px rgba(57, 57, 57, 0.4), 2px -2px 2px rgba(32, 32, 32, 0.5),  1px -1px 1px rgba(15, 15, 15, 0.6);
}
.data-link .tagline {
  float: right;
  margin: -210px 0 0 0;
  padding: 16px 28px 20px 28px;
  border-top: 1px solid #648880;
  border-right: 1px solid #648880;
  border-bottom: 5px solid #648880;
  border-left: 5px solid #648880;
  border-radius: 5px;
  border-top-right-radius: 0;
  background: #293f50;
  letter-spacing: 2px;
  text-align: right;
  text-shadow: -2px 2px 2px rgba(89, 5, 0, 0.6);
  z-index: 10;
  box-shadow: 4px -4px 4px rgba(57, 57, 57, 0.4), 2px -2px 2px rgba(32, 32, 32, 0.5),  1px -1px 1px rgba(15, 15, 15, 0.6);
}
.logo-link .logo:hover,
.data-link .tagline:hover {
  color: #dee88d;
  background: rgb(33, 111, 96);
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  width: 960px;
  margin-top: 14px;
  padding: 22px 60px 66px 60px;
  text-align: center;
  line-height: 44px;
}
.hero h2 {
  padding-bottom: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 0 0 black;
  border-bottom: 1px solid #648880;
}
.hero p {
  margin-top: 12px;
  color: #aab2b0;
  font-family: "Montserrat Alternates", Arial, sans-serif;
  font-size: 23px;
  font-weight: 300;
  text-shadow: 1px 0 0 black;
}
.hero .p-for-button {
  margin: -18px 0 4px 0;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
  display: inline-block;
  margin: 0;
  color: whitesmoke;
  font: 400 22px "Montserrat Alternates", Arial, sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 0 0 black;
  text-decoration: none;

}
.btn-alt {
  padding: 18px 40px;
}

.btn-alt,
.btn-default {
  border: 1px solid #267aaa;
  background: linear-gradient(rgba(46, 125, 183, 0.81), rgba(37, 114, 160, 0.81), rgba(37, 117, 164, 0.81), rgba(50, 136, 199, 0.81));
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, 0.6), -1px -1px 2px 0 rgba(128, 128, 128, 0.6);
}
.btn-alt:hover,
.btn-default:hover{
  color: #dee88d;
  border: 1px solid rgba(33, 111, 96, 0.8);
  background: linear-gradient(rgba(33, 111, 96, 0.8), rgba(29, 99, 86, 0.7), rgba(25, 94, 82, 0.7), rgba(33, 111, 96, 0.8));
  box-shadow: none;
}

/*
  ========================================
  Teasers
  ========================================
*/

.teaser-container {
  margin-top: 10px;
  margin-bottom: 22px;
}
.teaser {
  margin-bottom: 44px;
}
.teaser .line-under {
  height: 3px;
  background-color: #2d79b1;
  border-radius: 2px;
}
.teaser .photo {
  height: 210px;
  border: 3px solid #2d79b1;
  border-radius: 6px;
}
.teaser .prof-speaker {
  background: rgba(32, 62, 78, 0.6) url('../images/home/speaker-small.jpeg');
}
.teaser .three-days {
  background: rgba(32, 62, 78, 0.6) url('../images/home/public-small.jpeg');
}
.teaser .theatre-place {
  background: rgba(32, 62, 78, 0.6) url('../images/home/venue-1-small.jpeg');
}
.teaser h5 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
}
.teaser h3 {
  color: #2d79b1;
  font-weight: 600;
  padding: 4px 0 22px 0;
}
.teaser p {
  height: 111px;
  margin: 14px 0 12px 0;
  color: #404040;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border: none;
}
.teaser a:hover h3,
.teaser a:hover h5,
.teaser a:hover p {
  color: rgb(45, 154, 134);
}
.teaser a:hover .photo {
  border: 3px solid rgb(45, 154, 134);
}
.teaser a:hover .line-under {
  background-color: rgb(45, 154, 134);
}
.teaser-one {
  width: 32%;
  text-align: right;
}
.teaser-two {
  width: 27.6%;
  text-align: center;
}
.teaser-three {
  width: 32%;
  text-align: left;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead h1{
  color: #4b7e73;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 36px;
  font-weight: 600;
}
.lead p {
  font-size: 24px;
  line-height: 33px;
  border: none;
}

/*
  ========================================
  Speakers
  ========================================
*/

.speaker {
  margin: 44px 0;
  letter-spacing: 1px;
}
.speaker .col-2-3 {
  padding: 0 12px;
}
.speaker h2 {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #5d9c8f;
}
.speaker h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 30px;
}
.speaker p {
  font-size: 18px;
  line-height: 24px;
  border: none;
}
.speaker .personal-quote {
  font-family: "Montserrat", Arial, sans-serif;
}
.speaker .top-text {
  margin-top: -22px;
}
.speaker-info {
  margin: 52px 14px 0 0;
  padding: 22px 8px;
  width: 98%;
  font-family: "Montserrat Alternates", Arial, sans-serif;
  text-align: center;
  line-height: 26px;
  border: 1px solid #5d9c8f;
  border-radius: 6px;
  box-shadow: -2px -2px 4px rgba(137, 137, 137, 0.41), 2px 2px 4px rgba(137, 137, 137, 0.41);
}
.speaker-info .speaker-photo {
  margin-top: -100px;
  height: 160px;
  border: 1px solid #375f57;
  border-radius: 50%;
  box-shadow: -2px -2px 4px rgba(137, 137, 137, 0.2), 2px 2px 4px rgba(137, 137, 137, 0.2);
}
.speaker-info ul {
  margin-top: 10px;
}
.speaker-info a:hover {
  color: #2f983c;
}
.speaker-info span {
  letter-spacing: 0;
}

/*
  ========================================
  Schedule
  ========================================
*/

.schedules{
  display: block;
  margin: 44px auto;
  padding: 0;
  border: 1px solid rgba(47, 114, 136, 0.12);
  border-radius: 22px;
  overflow: hidden;
  box-shadow: inset 1px 1px 2px 1px rgba(211, 211, 211, 0.2), inset -1px -1px 2px rgba(211, 211, 211, 0.2);
}
.mid-table {
  margin: 77px auto;
}
.bottom-table {
  margin-bottom: 66px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
thead td h3 {
  font-family: "Montserrat Alternates", Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
}
th,
td {
  padding: 18px 18px;
  vertical-align: baseline;
}
th {
  padding-left: 32px;
  font-family: "Montserrat", Arial, sans-serif;
  text-align: right;
  /*
  border-right: 1px solid rgba(47, 114, 136, 0.26);
  */
}
td {
  width: 48%;
}
/*
tr {
  border-top: 1px solid rgba(47, 114, 136, 0.26);
  border-bottom: 1px solid rgba(47, 114, 136, 0.26);
}
*/
tr .double-col {
  padding-left: 12px;
}
.table-color {
  background: rgba(100, 136, 128, 0.06);
  border: none;
}
tbody td {
  /*border-top: 1px solid #2f7288;*/
  padding-top: 21px;
}
tbody td:first-of-type,
tbody td:last-of-type {
  padding-right: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
table h3 {
  padding: 10px 0;
  font-size: 26px;
  font-weight: 600;
}
table time {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
table h4 {
  color: #087e95;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 0 6px 0;
}
table p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  border: none;
}
table h5 {
  margin-top: 20px;
  color: #888;
  font-family: "Montserrat Alternates", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
}
table a:hover h4,
table a:hover h5,
table a:hover p {
  color: #0f9e1a;
  cursor: pointer;
}
table a:visited h4,
table a:visited h5,
table a:visited p {
  color: #8f6505;
}
table a:visited:hover h4,
table a:visited:hover h5,
table a:visited:hover p {
  color: #0f9e1a;
}
.schedule-offset h4 {
  color: #777f85;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-left: 18px;
}
.schedule-padding h4,
.schedule-padding h5,
.schedule-padding p {
  padding-left: 18px;
}

  /*
    ========================================
    Venue
    ========================================
  */

.venue-container {
  margin-top: 20px;
}
.venue-theatre {
  margin-top: 10px;
}
.venue-theatre,
.venue-hotel {
  height: 300px;
  margin-bottom: 66px;
  border: 1px solid #9ba4a1;
  border-radius: 4px;
  background-color: #dde3e1;
}
.venue-theatre .address,
.venue-hotel .address {
  padding-left: 12px;
}
.venue-theatre h2,
.venue-hotel h2 {
  margin-top: 20px;
  padding-bottom: 4px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
}
.venue-theatre p,
.venue-hotel p {
  width: 290px;
  padding: 12px 0;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 36px;
  border-bottom: 2px solid #487c72;
}
.venue-theatre .mail_phone,
.venue-hotel .mail_phone {
  margin-top: 22px;
  font-weight: 400;
  border: none;
}
.venue-theatre .mail_phone a,
.venue-hotel .mail_phone a {
  color: #2f7288;
}
.venue-theatre .mail_phone a:hover,
.venue-hotel .mail_phone a:hover {
  color: #5b9e39;
}
.venue-hotel {
  margin-bottom: 66px;
}
.venue-map {
  display: inline-block;
  margin: 18px 0 0 64px;
  padding: 0 0;
  height: 264px;
  width: 590px;
  border: 1px solid #9ba4a1;
  border-radius: 3px;
  z-index: 10;
}

/*
  =========================================
  Register
  =========================================
*/

.registration-container{
  margin-top: 28px;
}
.registration h2 {
  font-size: 28px;
}
.registration h5 {
  margin-top: 22px;
  font-size: 20px;
}
.registration p {
  width: 98%;
  margin-top: 18px;
  font-size: 16px;
  line-height: 32px;
  border: none;
}
.registration .see-you-soon {
  margin: -12px 0 44px 0;
  font-size: 18px;
}
.registration h4 {
  margin-bottom: 22px;
  font-size: 20px;
}
.why-attend {
  padding: 0;
}
.why-attend li {
  display: flex;
  flex-direction: row;
  height: 22px;
  padding: 0;
  margin: 8px 0 0 0;
}
.why-attend li .tick-box {
  height: 16px;
  border: 1px solid rgba(101, 107, 105, 0.4);
  border-radius: 2px;
}

.why-attend li p {
  font-size: 16px;
  line-height: 16px;
  margin: 0 10px;
  padding: 0;
  border: none;
}

form {
  margin-top: 66px;
  padding: 12px 0;
  background: rgba(99, 131, 124, 0.4);
  border: 1px solid rgba(27, 55, 55, 0.14);
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, 0.2), -1px -1px 2px 0 rgba(128, 128, 128, 0.2);
}
fieldset {
  margin: 0 4px;
}
input,
select,
textarea {
  font: 400 18px "Montserrat Alternates", Arial, sans-serif;
  line-height: 22px;
  text-align: left;
}

:placeholder-shown {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  font-weight: 200;
}

.register-group label {
  color: #447168;
  cursor: pointer;
  font: 400 20px "Montserrat", Arial, sans-serif;
}
.register-group input,
.register-group select,
.register-group textarea {
  display: block;
  margin: 5px 0 24px 0;
  padding: 4px 8px;
  color: #112323;
  box-shadow: 1px 1px 2px 0 rgba(128, 128, 128, 0.2), -1px -1px 2px 0 rgba(128, 128, 128, 0.2);
}
.register-group input,
.register-group textarea {
  width: 250px;
  padding-top: 6px;
  border: 1px solid rgba(27, 55, 55, 0.4);
  border-radius: 4px;
}
.register-group input {
  height: 38px;
}
.register-group select {
  height: 30px;
  width: 80px;
  font: 400 14px "Montserrat", Arial, sans-serif;
}
.register-group textarea {
  height: 121px;
}
.btn-default {
  margin-left: 5px;
  padding: 12px 30px;
  font: 500 20px "Montserrat", Arial, sans-serif;
  letter-spacing: 1px;
}